* {
  margin: 0;
  padding: 0;
  cursor: pointer;
}
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/*Navigation menu section*/

.navbar {
  /* position: sticky; */
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 120px;
  width: 108vw;
  background-color: white;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  z-index: 1;
}

.navbar-collapse {
  justify-content: flex-end;
  .navbar-nav {
    width: 77% !important;
    position: relative;
    .last {
      position: absolute;
      right: 0 !important;
    }
    .nav-item {
      margin: 10px 35px;
      margin-top: 10px;
      .nav-link {
        color: rgb(127, 127, 127);
        font-size: 22px;
        padding: 5px 0px;
        font-weight: 650;
      }
    }
  }
}

.log-btn {
  height: 1.5cm;
  margin-left: 18px;
  width: 3cm;
  border: transparent;
  border-radius: 10px;
  font-size: 18px;
  color: rgba(83, 80, 183, 255);
  font-weight: 650;
}
.sign-btn {
  height: 1.5cm;
  margin-left: 18px;
  width: 3cm;
  background-color: white;
  border: 2px solid rgba(83, 80, 183, 255);
  border-radius: 10px;
  font-size: 18px;
  color: rgba(83, 80, 183, 255);
  font-weight: 650;
}

/* Home  */
.head {
  height: 120vh;
  margin-top: 0px;
  width: 108vw;
  background-image: linear-gradient(
    178.1deg,
    rgb(84,84,188) 11.5%,
    white 96.5%
  );
}
.heading {
  padding-top: 160px;
  padding-left: 50px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 123px;
  line-height: 135px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 75px;
}
.content {
  text-align: center;
  font-size: 19px;
  font-weight: 400;
  padding-left: 250px;
  padding-right: 320px;
  color: white;
}

/*button*/
.custom-btn {
  margin-left: 700px;
  margin-top: 30px;
  width: 200px;
  height: 65px;
  color: #fff;
  border-radius: 50px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 22px;
}
.custom-btn:hover{

  background-color:rgb(66, 48, 105) /* New background color on hover */;
}

.btn-1 {
  background-color: rgb(84,84,188);
  /* background: linear-gradient(0deg, rgb(26, 1, 44) 0%, rgb(39, 2, 65) 100%); */
  border: none;
}



/*About*/
.about {
  height: 125vh;
  width: 99vw;
  margin-top: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: "my-app/src/Components/about.jpg"; */
}
.main-heading {
  color: rgb(84,84,188);
  text-align: center;
  padding: 200px;
  font-size: 80px;
  font-weight: 700;
}
.para {
  color: rrgb(84,84,188);
  font-size: 18px;
  text-align: center;
  margin-top: -180px;
  padding-left: 380px;
  padding-right: 380px;
}

/*Footer*/
.Footer {
  height: 60vh;
  width: 108vw;
  background-color: rgb(84,84,188);
  text-align: center;
  padding-top: 40px;
  font-size: 16px;
  color: white;
}


/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Style for the search bar */
.search-bar {
  flex-grow: 1;
  margin-top: 100px;
  margin-right: 1200px;
}

/* Style for social media icons */
.social-icons {
  /* display: flex; */
  margin: -30px;
  gap: 20px;
}

/* Style for copyright text */
.copyright {
  font-size: 18px;
  font-weight: 400;
  margin-left: 75%;
}

/* Style for social media icons (font-awesome icons used here) */
.social-icons i {
  font-size: 24px;
  margin-right: 20px;
}

/* Style for specific social media icons */
.facebook-icon {
  color: #fdfeff; /* Facebook blue */
}

.twitter-icon {
  color: #f6fbff; /* Twitter blue */
}

.linkedin-icon {
  color: #fefeff; /* LinkedIn blue */
}
.pinterest-icon {
  color: #fefeff;
}

.instagram-icon {
  /* background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); */
  -webkit-background-clip: text;
  background-clip: text;
  color: white;
}

.radius {
  /* height: 1px; */
  border-radius: 20px;
  margin-left: -22%;
  margin-bottom: 10px;
  background-color: rgb(84,84,188);
  color: white;
}


/*Product page*/
.section{
  height: 110vh;
  width:108vw;
  display: flex;
  /* float: left;  */
}
.text{
  margin: 50px;
}
.head1{
  margin-top: 150px;
  text-align: left;
  font-size: 45px;
  color:rgb(84,84,188) ;
  font-weight: 650;
  margin-bottom: 40px;
}
.para1{
  margin-right: 70px;
  font-size: 20px;
  color:rgb(84,84,188) ;
}
.image{
  margin-top: 50px;
  margin-bottom: 70px;
}
.photo{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}